.gamePoint {
  border-radius: 8px;
  height: 4rem;
  width: 4rem;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-primary);
  border: 2px solid transparent;
  &.answered {
    background-color: var(--green-20);
    border-color: var(--green-50);
    color: var(--background-primary);
    & > .name::after {
      color: var(--background-primary);
      background-color: var(--green-20);
    }
  }
  &.notAnswered {
    background-color: var(--red-10);
    border-color: var(--red-50);
    color: var(--background-primary);
    & > .name::after {
      color: var(--background-primary);
      background-color: var(--red-10);
    }
  }
}
.name {
  display: block;
  font-size: 16px;
  position: relative;
  width: 100%;
  max-width: 100%;

  &::after {
    content: attr(data-name);
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    width: 100%;
    z-index: 1;
    text-align: center;
    height: 100%;
  }
}
.type {
  margin-top: 4px;
  font-size: 14px;
  display: none;
  color: var(--gray-60);
}

@media screen and (min-width: 1024px) {
  .type {
    display: block;
  }
  .name::after {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .gamePoint {
    display: inline-block;
    max-width: 20rem;
    margin-bottom: 1rem;
    width: calc((100% - 5rem) / 5);
    &:not(:nth-of-type(5n)) {
      margin-right: calc(5rem / 4);
    }
  }
}
