@keyframes getAchievement {
  0% {
    opacity: 0;
    filter: brightness(0);
  }

  10% {
    filter: brightness(100%);
  }
  15% {
    opacity: 1;
    filter: brightness(100%);
  }
  95% {
    opacity: 1;
    filter: brightness(100%);
  }
  100% {
    opacity: 0;
  }
}

.achievement {
  position: fixed;
  bottom: 5vh;
  width: 550px;
  max-width: 90%;
  height: auto;
  margin: 0 auto;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 2;
  animation: getAchievement 5s forwards;
}
