.checkbox {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.input {
  display: none;
  &:disabled {
    pointer-events: none;
    & ~ label {
      pointer-events: none;
      color: var(--text-secondary);
    }
  }
  &:checked {
    ~ .label {
      & > .icon {
        background-color: var(--blue-40);
        border-color: var(--blue-40);
        svg {
          opacity: 1;
          visibility: visible;
        }
      }
      &:hover {
        & > .icon {
          background-color: var(--blue-50);
          border-color: var(--blue-50);
        }
      }

      &:active {
        & > .icon {
          background-color: var(--blue-60);
          border-color: var(--blue-60);
        }
      }
    }
  }
}

.label {
  display: flex;
  cursor: pointer;

  &:hover {
    .icon {
      border-color: var(--gray-50);
    }
  }
  &:active {
    .icon {
      border-color: var(--blue-60);
    }
  }
}
.icon {
  background-color: #fff;
  transition: all 0.2s;
  border: 2px solid var(--gray-10);
  border-radius: 4px;
  height: 16px;
  width: 16px;
  display: flex;
  flex-shrink: 0;
  margin-right: 10px;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;

  svg {
    position: absolute;
    top: -2px;
    left: -2px;
    fill: #fff;
    transition: all 0.1s;
    opacity: 0;
    visibility: hidden;
  }
}

.error {
  display: block;
  width: 100%;
}
