.header {
  width: 100%;
  justify-content: space-between;
  box-sizing: border-box;
  height: 6rem;
  display: flex;
  align-items: center;
  padding: 16px;

  border-bottom: 1px solid var(--divider-color);
}

.title {
  font-weight: 400;
  font-size: 26px;
}

.counter {
  font-size: 18px;
  color: var(--color-accent);
}
