.questionModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: var(--background-primary);
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 2rem;
  z-index: 2;
  justify-content: center;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;

  :global {
    animation: fadeIn 0.2s forwards;
  }
}
@media screen and (max-width: 1024px) {
  .questionModal {
    padding: 1rem;
  }
}

.content {
  display: flex;
  width: 45rem;
  max-width: 100%;
  align-items: center;
  flex-wrap: wrap;
  max-height: calc(100vh - 8rem);
}

.closeButton {
  z-index: 2;
  position: absolute;
  top: 2rem;
  right: 2rem;
}

@media screen and (max-width: 1024px) {
  .closeButton {
    top: 1rem;
    right: 1rem;
  }
}
