.page {
  position: relative;
  width: 100%;
  margin: 0 auto;
}
.content {
  width: 100%;
}

.questions {
  height: calc(100vh - 11rem);
  overflow: auto;
  margin-bottom: 2rem;
  box-sizing: border-box;
}
