.field {
  position: relative;
  width: 260px;
  max-width: 100%;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input[type='number'] {
  -moz-appearance: textfield;
}

.input {
  width: 100%;
  font-size: 16px;
  border-radius: 4px;
  background-color: var(--background-secondary);
  border: 1px solid var(--border-color);
  color: var(--text--primary);
  box-sizing: border-box;
  line-height: 1.25;
  transition: all 0.2s;
  &.right {
    padding-right: 24px;
  }
  &.left {
    padding-left: 24px;
  }
  &:disabled {
    background-color: var(--background-secondary);
  }
  &:not(:disabled) {
    &:hover {
      border-color: var(--border-color-hover);
    }
    &:focus {
      border-color: var(--border-color-focus);
      background-color: var(--background-secondary);
    }
  }
  &:not(:focus) {
    &.error {
      background-color: var(--red-10);
    }
  }
  &.small {
    font-size: 14px;
    padding: 1px 4px;
  }
  &.medium {
    padding: 2px 8px;
  }
  &.large {
    padding: 8px 12px;
    border-radius: 6px;
  }
}

.icon {
  margin-right: 8px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 20px;
  left: 0;
  top: 0;

  &.right {
    left: auto;
    right: 0;
  }
}
