.tooltip {
  position: fixed;
  max-width: 510px;
  width: fit-content;
  color: var(--text-basic);
  padding: 8px;
  background-color: #fff;
  z-index: 10;
  border-radius: 4px;
  box-shadow: var(--shadow-medium);
  :global {
    animation: fadeIn 0.2s forwards;
  }
}

.childrenWrapper {
  width: fit-content;
}
